.right{
    float: right;
}
.left{
    float:left;
}
.full_width{
    width: 100%;
}

.full_width *{
    margin: 0.2em;
}

.form-control{
    width: 100%;
}

#input_command{
    display: block;
    margin: auto;
}

#submit{
    width: 10em;
}
td{
    width: 100%;
}